<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.utimgapi.mapper.ImgNameMapper">

    <select id="getImg" resultType="ImgName" parameterType="String">
        SELECT FROM img_name
        WHERE img_oriname = #{img_oriname}

    </select>


    <insert id="save_imgname"  parameterType="ImgName">
        INSERT INTO img_name (img_channame, img_oriname, img_ext) VALUES (#{img_channame}, #{img_oriname}, #{img_ext})
    </insert>





</mapper>